// Basics and Vertical Spacing

body
  font-family body
  font-size fontsize
  line-height unit
  color foreground
  background background

h1, h2, h3, h4, h5, h6,
label, 
input,
textarea, 
button, 
select, 
.chzn-container
  font-family heading
  &:first-child
    margin-top 0

code, pre
  font-family monospaced

headings = 4, 3, 2, 1

/*for n, i in headings
  h{n}
    if i == 0
      font-size 1em
    else
      font-size {ratio*i}em*/

p
  margin-bottom unit

ul, ol, dl
  margin-bottom unit

b, strong
  font-weight bold

em, i
  font-style italic

pre
  margin-bottom unit

table
  margin-bottom unit

form > div
  margin-bottom unit

hr
  border 0
  background transparent
  text-align center
  &:before
    content '* * *'

// Lists

ol li, ul li 
  display block
  text-indent -+unit
  padding-left unit

ul li:before, ol li:before
  display block
  float left
  width unit

ul
  list-style disc

ul li:before
  content "• "

ol
  list-style decimal

ol
  counter-reset item

ol li:before
  content counter(item) ". "
  counter-increment item

dd
  font-style italic
  padding-left 1em
  margin-bottom 0.75em

// Links
 
a
  color link_color
  text-decoration none
  
  &:hover
    color lighten(link_color, 20%)

  &:active
    color lighten(link_color, 15%)

  &:visited
    color darken(link_color, 5%)

  &:visited:hover
    color lighten(link_color, 20%)


