// Labels

label
  vertical-align middle
  margin-right 0.5em

// Text Inputs

input, textarea
  width 100%
  padding .35em
  line-height 1.5em
  border 0.3em solid foreground
  background transparent
  outline 0
  box-sizing border-box
  transition border-color 0.5s

  &:focus
    border-color call_to_action

// Range Inputs

input[type="range"]
  border none
  background foreground
  height 1em
  border-radius 0.5em
  -webkit-appearance none


input[type="range"]:hover
  -webkit-appearance none


input[type="range"]::-webkit-slider-thumb
  -webkit-appearance none
  border-radius 50%
  width 0.8em
  height 0.8em
  background-color call_to_action

input[type="range"]::-webkit-slider-thumb:hover
  -webkit-appearance none


// Checkboxes and Radio Buttons

input[type='radio'], input[type='checkbox']
  -webkit-appearance none
  cursor pointer
  position relative
  box-sizing border-box
  width unit
  height unit
  background background
  border 0.3em solid foreground
  text-align center
  vertical-align middle
  margin-top -0.2em
  margin-right 0.5em

  transition 0.5s

  &:before, &:after
    content ''
    position absolute

  &:hover
    border-color call_to_action
  
  &:checked
    border-color call_to_action
    color call_to_action


input[type='radio']
  border-radius 50%
  &:before
    top 50%
    left 50%
    width 0.5em
    height 0.5em
    margin-left -(@width / 2)
    margin-top -(@height / 2)
    border-radius 50%
    transition 0.5s

  &:checked
    &:before
      background call_to_action
    
input[type='checkbox']
  &:before, &:after
    transition 0.5s

  &:before
    width 4px
    height 100%
    top 0
    left 50%
    margin-left -(@width / 2)
    transform rotate(45deg)
  
  &:after
    width 100%
    height 4px
    left 0
    top 50%
    margin-top -(@height / 2) 
    transform rotate(45deg)
  
  &:checked
    &:before, &:after
      background call_to_action
      

// Chosen Select Boxes

.chzn-container
  display inline-block
  position relative
  width auto
  height 2.667em
  overflow hidden

.chzn-results
  color background
  list-style none
  position absolute
  left 0
  opacity 0
  transition 0.5s

  li
    text-indent 0
    background-color darken(call_to_action, 10%)
    padding (unit * 0.35) (unit * 1.5) (unit * 0.35) unit
    cursor pointer
    transition background-color 0.5s

    &:before
      content ''

    &:hover 
      background-color call_to_action

    &.result-selected
      background-color darken(call_to_action, 20%)


.chzn-container.chzn-container-active
  overflow visible 
  .chzn-results
    opacity 1
      


