- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- styles.add(["/styles/style.css"])

- scripts.add(["scripts/libs/jquery.js"])
- scripts.add(["scripts/plugins/require-jquery.js"])

- scripts.add(["scripts/libs/handlebars.js"])
- scripts.add(["scripts/libs/ember.js"])
- scripts.add(["scripts/app.js"])

!!!5
html
  head
    title= document.title
    meta= document.tags

    // Styles
    != styles.toHTML()

    // Scripts
    != scripts.toHTML()

  body!= content
        